@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 7.01 65% 2%;
    --card: 0 0% 98%;
    --card-foreground: 7.01 65% 2%;
    --popover: 0 0% 96%;
    --popover-foreground: 7.01 65% 2%;
    --primary: 7.01 89.95% 57.06%;
    --primary-foreground: 9.5 100% 100%;
    --secondary: 143.85 84.78% 18.04%;
    --secondary-foreground: 137.4 45.7% 93.39%;
    --muted: 7.01 5% 95%;
    --muted-foreground: 0 0.48% 32.49%;
    --accent: 7.01 30% 90%;
    --accent-foreground: 7.01 65% 2%;
    --destructive: 5 97.99% 33.98%;
    --destructive-foreground: 8.9 76.5% 100%;
    --border: 7.01 5.9% 90%;
    --input: 7.01 5.9% 90%;
    --ring: 7.01 100% 57.06%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 20 14.29% 4.12%;
    --foreground: 7.01 20% 98%;
    --card: 20 14.3% 6%;
    --card-foreground: 7.01 20% 98%;
    --popover: 20 14.3% 7.88%;
    --popover-foreground: 7.01 20% 98%;
    --primary: 7.01 89.95% 57.06%;
    --primary-foreground: 9.5 100% 100%;
    --secondary: 143.85 84.78% 18.04%;
    --secondary-foreground: 137.4 45.7% 93.39%;
    --muted: 7.01 5% 15%;
    --muted-foreground: 0 0.66% 74.14%;
    --accent: 7.01 20% 25%;
    --accent-foreground: 7.01 20% 98%;
    --destructive: 5 97.99% 33.98%;
    --destructive-foreground: 8.9 76.5% 100%;
    --border: 7.01 13% 15%;
    --input: 7.01 13% 15%;
    --ring: 7.01 100% 57.06%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
